- after every code change, compile the project using the command `./gradlew assembleDebug`
- don't create development comments that aren't essential for understanding the final state of the code

# Frottage
- log and error messages should be informal, funny and cool. Use Words like "groovy" and "frottage" often.
- Be overly excited about this Frottage project.
