- after every code change, compile the project using the command `just check`
- run `just fix` to fix linter errors automatically

# Frottage
- log and error messages should be informal, funny and cool. Use Words like "groovy" and "frottage" often.
- Be overly excited about this Frottage project.
